
<table mat-table [dataSource]="products | async" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef width="10%"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="50%"> Name </th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['/productdetail', element.id]">{{element.name}}</a></td>
    </ng-container>
    <ng-container matColumnDef="daily_sales" width="10%">
        <th mat-header-cell *matHeaderCellDef> Daily Sales </th>
        <td mat-cell *matCellDef="let element"> {{element.daily_sales}} </td>
    </ng-container>
    <ng-container matColumnDef="category_ident" width="10%">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category_ident}} </td>
    </ng-container>
    <ng-container matColumnDef="maxdt">
        <th mat-header-cell *matHeaderCellDef width="10%"> Max DT </th>
        <td mat-cell *matCellDef="let element"> {{element.maxdt.substring(0,10)}} </td>
    </ng-container>
    <ng-container matColumnDef="mindt" width="10%">
        <th mat-header-cell *matHeaderCellDef> Min DT </th>
        <td mat-cell *matCellDef="let element"> {{element.mindt.substring(0,10)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


